<script id="chat-template" type="text/x-handlebars-template">
  {{#each messages}}
    <div class="message {{#if isUser}}user{{else}}recipient{{/if}}">
      {{message}}
    </div>
  {{/each}}
  
</script>

<div id="chat-container"></div>