<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Chat Web</title>
</head>
<body>
    <section class="section-container">
        <div id="chat"></div>
        <div class="contact-menu">
            <div class="search-bar" id="message-box">
                <input type="text" id="text-message" placeholder="Buscar contactos..."><br>
                {{#each contactos}}
                    <div id="{{this.IDChat}}" onclick="Unirse(this)" class="btn btn-primary" style="display: flow;" title="{{this.NombreChat}}">{{this.NombreChat}}</div>
                {{/each}}
            </div>
            
        </div>
        <div class="chat-container">
            <div id="nombre_contacto"></div>
            <div class="chat-message">
                <div class="message received">
                    <p>Hola, ¿cómo estás?</p>
                </div>
                <div class="message sent">
                    <p>¡Hola! Estoy bien, gracias.</p>
                </div>
            </div>
            <form action="/enviar" method="POST">
                <div class="input-container">
                    <input type="text" id="message-input" placeholder="Escribe un mensaje...">
                    <input type="button" onclick="enviarMensaje()" class="btn btn-primary" id="send-button" value="Enviar">
                </div>
            </form>
        </div>
    </section>
    <script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous">
    </script> 
    <script src="ws.js" charset="UTF-8"></script>
</body>
</html>


    