<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Chat Web</title>
</head>
<body>
    <section class="section-container">
        <div class="contact-menu">
            <div class="search-bar">
                <input type="text" placeholder="Buscar contactos..."><br>
                <select>
                {{#each contactos}}
                    <option>{{this.NombreChat}}</option>
                {{/each}}
                </select>
            </div>
            <div class="contact-list">
                {{#each chats}}
                <div class="contact-info">
                    <h3>{{this.nombre}}</h3>
                    <button id={{this.user}} onclick="unirseASala(this)">{{this.user}}</button>
                </div>
                {{/each}}
            </div>
            
        </div>
        <div class="chat-container">
            
            <div class="chat-messages">
                <div class="message received">
                    <p>Hola, ¿cómo estás?</p>
                </div>
                <div class="message sent">
                    <p>¡Hola! Estoy bien, gracias.</p>
                </div>
            </div>
            <form action="/enviar" method="POST">
                <div class="input-container">
                    <input type="text" id="message-input" placeholder="Escribe un mensaje...">
                    <input type="button" onclick="enviarMensaje()" class="btn btn-primary" id="send-button" value="Enviar">
                </div>
            </form>
        </div>
    </section>
</body>
</html>