<div class="memods">
    <h1 style="font-size: 100px;">CHAT WEB</h1>
    <h3 style="font-size: 40px;">Chatea con tus amigxs mediante la web</h3>
</div>


<form action="/login" method="GET" class="container-sm">
    <div class="mb-3 form-check" style="display: flex; justify-content: center;">
        <input type="submit" class="btn btn-primary" value="Ingresar" style="background-color:#939697;height: 100px;width: 32%;font-family:Tahoma ;font-size: 35px;border-color:transparent;">  
    </div>
</form>
<form action="/registro" method="GET" class="container-sm">
    <div class="mb-3 form-check" style="display: flex; justify-content: center;">
        <input type="submit" class="btn btn-primary" value="Registrarse" style="background-color:#FFBD59;height: 100px;width: 32%;font-family: 'Libre Franklin', sans-serif;font-size: 35px;border-color:transparent">
    </div>
</form>






















