<div class="inicio">
    <h1 style="font-size: 60px;">CHAT WEB</h1>
    <h3 style="font-size: 30px;">Chatea con tus amigxs mediante la web</h3>
</div>
<form action="/login" method="GET" class="container-sm">
    <div class="mb-3 form-check" style="display: flex; justify-content: center;">
        <input type="submit" class="btn btn-primary" value="Ingresar" style="background-color:#939697;height:80px;width:20%;font-family:Tahoma ;font-size:30px;border-color:transparent;">  
    </div>
</form>

<div>usuario: 12 contra: 2</div>
<div>usuario: 1254 contra: mg90 || EL CHAT QUE TIENEN EN COMUN ES MATU</div>






















