<section class="sections">
    <form action="/login" method="POST" id="form1" class="container-sm">
    <h3 class="memods" style=" margin: 10px auto;color: #3c7443;">INGRESAR:</h3>
        <div class="mb-3 form-group">
            <label for="usuario_login" class="form-label" style="font-family: 'Libre Franklin', sans-serif;color: #3c7443;">Número de Teléfono:</label>
            <input type="text" class="form-control" id="usuario_login" name="usuario_login" value="" placeholder="Ingrese su número de teléfono" style="background-color: #EBEBEB;margin-left:12px;width: 95%;border-radius: 10px;">
        </div>
        <div class="mb-3 form-group">
            <label for="contraseña_login" class="form-label" style="font-family: 'Libre Franklin', sans-serif;color: #3c7443;">Contraseña</label>
            <input type="password" class="form-control" id="contraseña_login" name="contraseña_login" value= "" placeholder="Ingrese su contraseña" style="background-color: #EBEBEB;margin-left:12px;width: 95%;border-radius: 10px;">
        </div>
        <div class="mb-3 form-check" style="display: flex; justify-content: center;">
            <input type="button" onclick="login()" class="btn btn-primary" value="Ingresar" style="background-color:rgb(24, 70, 24);;height: 65px;width: 200px;font-family: 'Libre Franklin', sans-serif;font-size: 30px;border-color:transparent" >
        </div>
        <div class="mb-3 form-group">
            <input type="button" onclick="funcionPrueba()" value="Funcion de prueba">   

        </div>
    </form>
    <form action="/" method="GET" class="container-sm">
    <div class="mb-3 form-check" style="display: flex; justify-content: center;">
            <input type="button" onclick= "location.href='/'"class="btn btn-primary" value="Volver al inicio" style="background-color:#939697;height: 35px;width: 150px;font-family: 'Libre Franklin', sans-serif;font-size: 15px;border-color:transparent">
        </div>
    </form>
</section>

    

        


