<body class="container">
    <div id="overlay"></div>
    <header class="memods">
        <h1>CHAT WEB</h1>
        <h5>Chatea con tus amigxs mediante la web</h5>
    </header>
    <main>
        <h2 class="niveles" id="nivel" data-value="1">NIVEL 1</h2>
        <div class="section-container">
            <section id="nivelx" class="grid-container">
                <div class="card" id="card1" data-value="1">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods1.jpg" alt="Detrás de la imagen 1">
                        </div>
                    </div>
                    <script>
                        const card1 = document.querySelector("#card1");
                        card1.addEventListener("click", function () {
                            card1.classList.toggle("flip");
                        });
                
                    </script>
                </div>
                <div class="card" id="card1par" data-value="1">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods1.jpg" alt="Detrás de la imagen 1">
                        </div>
                    </div>
                    <script>
                        const card1par = document.querySelector("#card1par");
                        card1par.addEventListener("click", function () {
                            card1par.classList.toggle("flip");
                        });
                
                    </script>
                </div>
                <div class="card" id="card2" data-value="2">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods2.jpg" alt="Detrás de la imagen 2">
                        </div>
                    </div>
                    <script>
                        const card2 = document.querySelector("#card2");
                        card2.addEventListener("click", function () {
                            card2.classList.toggle("flip");
                        });
                
                    </script>
                </div>
                <div class="card" id="card2par" data-value="2">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods2.jpg" alt="Detrás de la imagen 2">
                        </div>
                    </div>
                    <script>
                        const card2par = document.querySelector("#card2par");
                        card2par.addEventListener("click", function () {
                            card2par.classList.toggle("flip");
                        });
                
                    </script>
                </div>
                <div class="card" id="card3" data-value="3">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods3.png" alt="Detrás de la imagen 3">
                        </div>
                    </div>
                    <script>
                        const card3 = document.querySelector("#card3");
                        card3.addEventListener("click", function () {
                            card3.classList.toggle("flip");
                        });
                    </script>
                </div>
                <div class="card" id="card3par" data-value="3">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods3.png" alt="Detrás de la imagen 3">
                        </div>
                    </div>
                    <script>
                        const card3par = document.querySelector("#card3par");
                        card3par.addEventListener("click", function () {
                            card3par.classList.toggle("flip");
                        })
                    </script>
                </div>
                <div class="card" id="card4" data-value="4">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods4.jpg" alt="Detrás de la imagen 4">
                        </div>
                    </div>
                    <script>
                        const card4 = document.querySelector("#card4");
                        card4.addEventListener("click", function () {
                            card4.classList.toggle("flip");
                        });
                    </script>
                </div>
                <div class="card" id="card4par" data-value="4">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods4.jpg" alt="Detrás de la imagen 4">
                        </div>
                    </div>
                    <script>
                        const card4par = document.querySelector("#card4par");
                        card4par.addEventListener("click", function () {
                            card4par.classList.toggle("flip");
                        })
                    </script>
                </div>
                <div class="card" id="card5" data-value="5">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods5.jpg" alt="Detrás de la imagen 5">
                        </div>
                    </div>
                </div>

                <script>
                    const card5 = document.querySelector("#card5");
                    card5.addEventListener("click", function () {
                        card5.classList.toggle("flip");
                    });
                </script>
                <div class="card" id="card5par" data-value="5">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods5.jpg" alt="Detrás de la imagen 5">
                        </div>
                    </div>
                </div>
                <script>
                    const card5par = document.querySelector("#card5par");
                    card5par.addEventListener("click", function () {
                        card5par.classList.toggle("flip");
                    })
                </script>
                <div class="card" id="card6" data-value="6">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods6.jpg" alt="Detrás de la imagen 6">
                        </div>
                    </div>
                </div>
                <script>
                    const card6 = document.querySelector("#card6");
                    card6.addEventListener("click", function () {
                        card6.classList.toggle("flip");
                    });
                </script>
                <div class="card" id="card6par" data-value="6">
                    <div class="card-inner">
                        <div class="card-front">
                            <img src="images/carta_general.jpg" alt="Carta general">
                        </div>
                        <div class="card-back">
                            <img src="images/ods6.jpg" alt="Detrás de la imagen 6">
                        </div>
                    </div>
                </div>
                <script>
                    const card6par = document.querySelector("#card6par");
                    card6par.addEventListener("click", function () {
                        card6par.classList.toggle("flip");
                    })
                </script>
            </section>
            <section class="puntaje">
                <h4>PUNTAJE</h4>
                <div class="puntaje-numero">
                    <h6 id="puntajecito"> {{puntaje}}</h6>
                </div>   
            </section>
        </div>
    </main>

</body>