
    <body class="container">
        <div id="overlay"></div>
        <header class="memods">
            <h1>CHAT</h1>
            <h5>Chatea con tus amigos mediante la web</h5>
        </header>
        <main>
            <h2 class="niveles" id="nivel" data-value="5">NIVEL 5</h2>
            <div class="section-container">
                <section id="nivelx" class="grid-container3">
                    <div class="card" id="card1" data-value="1">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods1.jpg" alt="Detrás de la imagen 1">
                            </div>
                        </div>
                        <script>
                            const card1 = document.querySelector("#card1");
                            card1.addEventListener("click", function () {
                                card1.classList.toggle("flip");
                            });
                    
                        </script>
                    </div>
                    <div class="card" id="card1par" data-value="1">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods1.jpg" alt="Detrás de la imagen 1">
                            </div>
                        </div>
                        <script>
                            const card1par = document.querySelector("#card1par");
                            card1par.addEventListener("click", function () {
                                card1par.classList.toggle("flip");
                            });
                    
                        </script>
                    </div>
                    <div class="card" id="card2" data-value="2">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods2.jpg" alt="Detrás de la imagen 2">
                            </div>
                        </div>
                        <script>
                            const card2 = document.querySelector("#card2");
                            card2.addEventListener("click", function () {
                                card2.classList.toggle("flip");
                            });
                    
                        </script>
                    </div>
                    <div class="card" id="card2par" data-value="2">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods2.jpg" alt="Detrás de la imagen 2">
                            </div>
                        </div>
                        <script>
                            const card2par = document.querySelector("#card2par");
                            card2par.addEventListener("click", function () {
                                card2par.classList.toggle("flip");
                            });
                    
                        </script>
                    </div>
                    <div class="card" id="card3" data-value="3">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods3.png" alt="Detrás de la imagen 3">
                            </div>
                        </div>
                        <script>
                            const card3 = document.querySelector("#card3");
                            card3.addEventListener("click", function () {
                                card3.classList.toggle("flip");
                            });
                        </script>
                    </div>
                    <div class="card" id="card3par" data-value="3">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods3.png" alt="Detrás de la imagen 3">
                            </div>
                        </div>
                        <script>
                            const card3par = document.querySelector("#card3par");
                            card3par.addEventListener("click", function () {
                                card3par.classList.toggle("flip");
                            })
                        </script>
                    </div>
                    <div class="card" id="card4" data-value="11">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods11.jpg" alt="Detrás de la imagen 11">
                            </div>
                        </div>
                        <script>
                            const card4 = document.querySelector("#card4");
                            card4.addEventListener("click", function () {
                                card4.classList.toggle("flip");
                            });
                        </script>
                    </div>
                    <div class="card" id="card4par" data-value="11">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods11.jpg" alt="Detrás de la imagen 11">
                            </div>
                        </div>
                        <script>
                            const card4par = document.querySelector("#card4par");
                            card4par.addEventListener("click", function () {
                                card4par.classList.toggle("flip");
                            })
                        </script>
                    </div>
                    <div class="card" id="card5" data-value="12">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods12.jpg" alt="Detrás de la imagen 12">
                            </div>
                        </div>
                    </div>

                    <script>
                        const card5 = document.querySelector("#card5");
                        card5.addEventListener("click", function () {
                            card5.classList.toggle("flip");
                        });
                    </script>
                    <div class="card" id="card5par" data-value="12">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods12.jpg" alt="Detrás de la imagen 12">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card5par = document.querySelector("#card5par");
                        card5par.addEventListener("click", function () {
                            card5par.classList.toggle("flip");
                        })
                    </script>
                    <div class="card" id="card6" data-value="13">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods13.jpg" alt="Detrás de la imagen 13">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card6 = document.querySelector("#card6");
                        card6.addEventListener("click", function () {
                            card6.classList.toggle("flip");
                        });
                    </script>
                    <div class="card" id="card6par" data-value="13">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods13.jpg" alt="Detrás de la imagen 13">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card6par = document.querySelector("#card6par");
                        card6par.addEventListener("click", function () {
                            card6par.classList.toggle("flip");
                        })
                    </script>
                    <div class="card" id="card7" data-value="14">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods14.jpg" alt="Detrás de la imagen 14">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card7 = document.querySelector("#card7");
                        card7.addEventListener("click", function () {
                            card7.classList.toggle("flip");
                        });
                    </script>
                    <div class="card" id="card7par" data-value="14">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods14.jpg" alt="Detrás de la imagen 14">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card7par = document.querySelector("#card7par");
                        card7par.addEventListener("click", function () {
                            card7par.classList.toggle("flip");
                        })
                    </script>
                    <div class="card" id="card8" data-value="15">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods15.jpg" alt="Detrás de la imagen 15">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card8 = document.querySelector("#card8");
                        card8.addEventListener("click", function () {
                            card8.classList.toggle("flip");
                        });
                    </script>
                    <div class="card" id="car8par" data-value="15">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods15.jpg" alt="Detrás de la imagen 15">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card8par = document.querySelector("#card8par");
                        card8par.addEventListener("click", function () {
                            card8par.classList.toggle("flip");
                        })
                    </script>
                    aaaa
                    <div class="card" id="card9" data-value="16">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods16.jpg" alt="Detrás de la imagen 16">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card9 = document.querySelector("#card9");
                        card9.addEventListener("click", function () {
                            card9.classList.toggle("flip");
                        });
                    </script>
                    <div class="card" id="car9par" data-value="16">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods16.jpg" alt="Detrás de la imagen 16">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card9par = document.querySelector("#card9par");
                        card9par.addEventListener("click", function () {
                            card9par.classList.toggle("flip");
                        })
                    </script>
                    <div class="card" id="card10" data-value="17">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods17.jpg" alt="Detrás de la imagen 17">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card10 = document.querySelector("#card10");
                        card10.addEventListener("click", function () {
                            card10.classList.toggle("flip");
                        });
                    </script>
                    <div class="card" id="car10par" data-value="17">
                        <div class="card-inner">
                            <div class="card-front">
                                <img src="images/carta_general.jpg" alt="Carta general">
                            </div>
                            <div class="card-back">
                                <img src="images/ods17.jpg" alt="Detrás de la imagen 17">
                            </div>
                        </div>
                    </div>
                    <script>
                        const card10par = document.querySelector("#card10par");
                        card10par.addEventListener("click", function () {
                            card10par.classList.toggle("flip");
                        })
                    </script>
                </section>
                <section class="puntaje">
                    <h4>PUNTAJE</h4>
                    <div class="puntaje-numero">
                        <h6 id="puntajecito">{{puntaje}}</h6>
                    </div>   
                </section>
            </div>
        </main>
    </body>